{# app/Resources/views/musee/findOneMusee.html.twig #}

	{% extends 'base.html.twig' %}


		{% block title %} {{ parent() }} - La liste des musees affichés par 10 {% endblock  %}


		{% block body %}

            <div class="container">

                <h2> toute les données d'un musee  </h2>
                {% for musee in infomusee %}
                    <table class="table table-bordered table-striped table-condensed">
                        <tr> <td> <strong> Nom du Musee:       </strong> </td> <td> {{ musee.getNom()              }} </td> <td>
                        <tr> <td> <strong> Coordonnées 	   </strong> </td> <td> {{ musee.getCoordonnees()      }} </td> <td>
                        <tr> <td> <strong> Adresse         </strong> </td> <td> {{ musee.getAdresse()          }} </td> <td>
                        <tr> <td> <strong> Code postal      </strong> </td> <td> {{ musee.getCodePostal()       }} </td> <td>
                        <tr> <td> <strong> Ville           </strong> </td> <td> {{ musee.getVille()            }} </td> <td>
                        <tr> <td> <strong> Site web        </strong> </td> <td> {{ musee.getSiteWeb()          }} </td> <td>
                        <tr> <td> <strong> Statut          </strong> </td> <td> {{ musee.getStatut()           }} </td> <td>
                        <tr> <td> <strong> Date de repuvertue  </strong> </td> <td> {{ musee.getReouverture()      }} </td> <td>
                        <tr> <td> <strong> Fermeture annuelle  </strong> </td> <td> {{ musee.getFermetureAnnuelle()}}  </td> <td>
                        <tr> <td> <strong> Periode ouverture   </strong> </td> <td> {{ musee.getPeriodesOuverture() }} </td> <td>
                    </table>
                {% endfor %}
                <footer>
                    <p> Site des musee de Paris le : {{ "now"|date('d/m/Y') }}</p>
                </footer>
            </div>

        {% endblock %}